:root {
    /* --color-primary: #86C232;
    --color-secondary: #61892F;
    --color-dark: #222629;
    --color-graphite: #474B4F;
    --color-gray: #6B6E70; */

    --color-primary: #FF6A5C;
    --color-secondary: #CCDFCB;
    --color-dark: #414141;
    --color-teal: #074c55;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background: radial-gradient(var(--color-teal), #05373D);
    /* background:url(./11.jpg) rgba(232, 247, 20, 0.89); */
    background-repeat: none;
}

.primary-header {
    min-height: 300px;
}

.profile-image{
    text-align: center;
    display: block;
}


footer {
    text-align: center;
    vertical-align: middle;
    height: 50px;
    color: white;
    background-color: black;
    padding-top: 10px;
}

.navbar-light {
    background-color: transparent !important;
}

.navbar-brand {
    color: var(--color-secondary) !important;
}

.navbar-light>div>ul>li>a {
    color: var(--color-secondary) !important;
}

/* Sections */
section {
    min-height: 100px;
}

.section-header {
    text-align: center;
    color: var(--color-primary);
}

.projects-section {
    background-color: var(--color-secondary);
}

.skill-card {
    width: 16rem;
}

.list-group-item.active {
    background-color: var(--color-teal) !important;
    border: none !important;
}