<nav id="topNav" class="navbar navbar-expand-md fixed-top navbar-dark bg-navy text-primary">
    <a class="navbar-brand" href="#summary">Profile Summary</a>
    <button class="navbar-toggler ml-auto py-2" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        ☰
    </button>
    <div class="collapse navbar-collapse" id="collapsingNavbar">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#awards">Awards</a>
            </li>
        </ul>
    </div>
</nav>