<div class="row">
    <div class="col-12 col-lg-6">
        <div class="row">
            <div class="col">
                <div class="card bg-navy h-100 p-3">
                    <img src="../../assets/images/badge-awssaa.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                            <a href="https://www.credly.com/badges/6c98dc90-2c87-487b-b638-b822bbd0b040/public_url">
                                <i class="fa-solid fa-link" aria-hidden="true"></i></a> Solutions Architect (Associate)
                        </p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-light"><small class="text-muted">Issued on </small>Nov 28, 2021</p>
                        <p class="card-text text-light"><small class="text-muted">Expires on </small>Nov 28, 2024</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-navy h-100 p-3">
                    <img src="../../assets/images/badge-awsda.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                            <a href="https://www.credly.com/badges/58b9bf85-3b2f-4dcb-98a3-826de4ad34a0/public_url">
                                <i class="fa-solid fa-link" aria-hidden="true"></i></a> Developer (Associate)
                        </p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-light"><small class="text-muted">Issued on </small>Aug 01, 2020</p>
                        <p class="card-text text-light"><small class="text-muted">Expires on </small>Aug 01, 2023</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-navy h-100 p-3">
                    <img src="../../assets/images/badge-oca.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                            <a href="https://www.credly.com/badges/fcfb2359-2314-4e52-b763-9fc0dd563394/public_url">
                                <i class="fa-solid fa-link" aria-hidden="true"></i>
                            </a> Java SE 8 Programmer 1
                        </p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-light"><small class="text-muted">Issued on </small>Dec 18, 2017</p>
                        <p class="card-text text-light"><small class="text-muted">Expires on </small>Not Applicable</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <section class="timeline_area section_padding_130">
            <div class="container bg-navy p-4">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8 col-lg-6">
                        <!-- Section Heading-->
                        <div class="section_heading text-center">
                            <h3>Academics & Training</h3>
                            <div class="line"></div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Timeline Area-->
                        <div class="apland-timeline-area">
                            <!-- Single Timeline Content-->
                            <div class="single-timeline-area">
                                <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <h4>2015</h4>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                            <div class="timeline-icon"><i class="fa-solid fa-graduation-cap"
                                                    aria-hidden="true"></i>
                                            </div>
                                            <div class="timeline-text">
                                                <h6>Bachelor of Technology - CVR College (Affiliated by JNTU
                                                    Hyderabad)</h6>
                                                <p>Electronics & Communication Engineering <span
                                                        class="text-muted">|</span> 82%</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Timeline Content-->
                            <div class="single-timeline-area">
                                <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <h4>2011</h4>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                            <div class="timeline-icon"><i class="fa-solid fa-certificate"
                                                    aria-hidden="true"></i></div>
                                            <div class="timeline-text">
                                                <h6>Intermediate College (HSC) - State Board (Andhar Pradesh)</h6>
                                                <p>Mathematics, Physics & Chemistry <span class="text-muted">|</span>
                                                    97%</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Timeline Content-->
                            <div class="single-timeline-area">
                                <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <h4>2009</h4>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                            <div class="timeline-icon"><i class="fa-solid fa-book-open-reader"
                                                    aria-hidden="true"></i>
                                            </div>
                                            <div class="timeline-text">
                                                <h6>High School (SSC) - State Board (Andhar Pradesh)</h6>
                                                <p>General Studies <span class="text-muted">|</span> 89%</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>