.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
    color: var(--primary);
}

.skill-category {
    max-height: 80vh;
}

.custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
  }
  
  /* scrollbar track */
  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: rgb(236, 233, 233);
  }
  
  /* scrollbar handle */
  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #0d505f;
    background-image: linear-gradient(to top, #051835 0%, #0a2f63 100%);
  }