<div class="row">
    <div class="col-6">
        <div class="bg-navy p-3">
            <ul>
                <li>
                    Full stack developer with industry experience of almost 7 years in design, develop and maintain
                    Enterprise Java Web applications built with Angular, Spring(boot) & Relational databases.
                </li>
                <li>
                    Sound understanding of Object-Oriented Programming, Hollywood & SOLID Principles, Design Patterns &
                    development best practices Clean Code, Code Simplicity, Code Review, Unit Testing.
                </li>
                <li>
                    Oracle Certified Java Developer, AWS Certified Solution Architect & Developer (Associate level).
                </li>
                <li>
                    Experienced in all the SDLC phases following Waterfall & Agile approaches like Scrum & Kanban.
                </li>
                <li>
                    Well-versed with CICD tools like Jenkins, Project Management tools like JIRA & Confluence.
                </li>
                <li>
                    Highly organized to perform several tasks and assignments within the scheduled time.
                </li>
                <li>
                    A team player working effectively with in group in accomplishing project objectives.
                </li>
                <li>
                    Excellent written and verbal skills; Results oriented, Self-Motivated and Self-Starter looking for
                    challenges; Ability to rapidly learn and apply new technologies and improve processes.
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <div class="">
            <br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br>
        </div>
    </div>
</div>