<div class="row">
    <div class="col-4">
        <div class="bg-navy">
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br><br>SFSAsdfasdasd
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="col-4 ">
        <div class="bg-">
            <br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br>
        </div>

    </div>
    <div class="col-4">
        <div class="bg-trans">
            <br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br><br>
            <br>
            <br>
        </div>
    </div>
</div>