<div class="row">
    <div class="col bor">
        <div class="card bg-navy h-100 p-3">
            <img src="../../assets/images/awards-1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">EngX Dojo Winner First place</h6>
                <p class="card-text text-muted">
                    Congratulations! This is your victory! You have demonstrated brilliance in coding! Keep right on!
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-navy h-100 p-3">
            <img src="../../assets/images/awards-2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Pat on Back</h6>
                <p class="card-text text-muted">
                    For going extra mile beyond the call of the designated regular work.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-navy h-100 p-3">
            <img src="../../assets/images/awards-3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">EPAM Engineering DNA</h6>
                <p class="card-text text-muted">
                    For contributions that propagate high engineering culture, make an impact on our clients and
                    technology.
                </p>
            </div>
        </div>
    </div>
</div>