<div class="col-md-2 fixed left bg-navy align-center ">


    <div class="text-center mt-4">
        <img class="rounded-circle" width="75%" height="75%" src="../../assets/images/profile.jpeg" alt="" />
    </div>
    <div class="text-center mt-3">
        <h2>SANDEEP MADVE</h2>
        <p>Software Engineer <span class="text-secondary"> | </span> Tech Enthusiast</p>
    </div>
    <hr>
    <div class="mt-5">
        <ul class="fa-ul">
            <li class="mb-3"><span class="fa-li"><i class="fa-solid fa-square-phone"></i></span>+91 7066228984 <span
                    class="text-secondary"> | </span>
                7382763635</li>
            <li class="mb-3"><span class="fa-li"><i class="fa-solid fa-envelope"></i></span>sandeep.madve@outlook.com
            </li>
            <li class="mb-3"><span class="fa-li"><i class="fa-solid fa-language"></i></span>English <span
                    class="text-secondary"> | </span> Hindi <span class="text-secondary"> | </span> Marathi <span
                    class="text-secondary"> | </span>
                Telugu</li>
        </ul>
    </div>
    <hr>
    <div class="social-icons fa-2x text-center">
        <a class="social-icon" href="https://www.linkedin.com/in/sandeep-madve/"><i
                class="fa-brands fa-linkedin-in"></i></a>&nbsp;
        <a class="social-icon" href="https://www.linkedin.com/in/sandeep-madve/"><i
                class="fa-brands fa-youtube"></i></a>&nbsp;
        <a class="social-icon" href="https://www.linkedin.com/in/sandeep-madve/"><i class="fa-brands fa-github"></i></a>
    </div>

</div>