<section class="timeline_area section_padding_130">
    <div class="container-fluid bg-navy p-4">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center">
                    <h6>Work Experience</h6>
                    <h3>A brief of projects in my 7 years of IT career</h3>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>Senior Software Engineer @EPAM, Hyderabad. <br> <span class="text-muted">Sep'2018
                                    -
                                    Present</span></p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa-solid fa-file-code" aria-hidden="true"></i>
                                    </div>
                                    <div class="timeline-text">
                                        <h6>Open Banking APIs Portal</h6>
                                        <ul>
                                            <li>
                                                <p>Onboarded 12 open APIs for Hongkong.</p>
                                            </li>
                                            <li>
                                                <p>Participated in spring planning, code review.</p>
                                            </li>
                                            <li>
                                                <p>Creating/Tracking tasks via JIRA.</p>
                                            </li>
                                            <li>
                                                <p>Root Cause Analisys for bugs.</p>
                                            </li>
                                            <li>
                                                <p>Resolved PENtest issues/bugs.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
                                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa-solid fa-chart-pie" aria-hidden="true"></i>
                                    </div>
                                    <div class="timeline-text">
                                        <h6>CBoard Open Source</h6>
                                        <ul>
                                            <li>
                                                <p>Analized angularjs code, and migrated to Angular7.</p>
                                            </li>
                                            <li>
                                                <p>Delivered 3 Charts(Table, Bar, Pie)</p>
                                            </li>
                                            <li>
                                                <p>Configured Jenkins with Sonar, checkmarx & IQ Scan enabled.</p>
                                            </li>
                                            <li>
                                                <p>Resolved Sonar, checkmarx, IQscan issues.</p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>Software Engineer @HSBC, Hyderabad. <br> <span class="text-muted">Sep'2018 -
                                    Jun'2021</span></p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa-solid fa-money-bill-transfer"
                                            aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Banknotes Trading</h6>
                                        <ul>
                                            <li>
                                                <p>Analized Powerbuilder code, Desinged UI screens.</p>
                                            </li>
                                            <li>
                                                <p>Developed reports generation job.</p>
                                            </li>
                                            <li>
                                                <p>Developed REST APIs (deal, vault, customer etc).</p>
                                            </li>
                                            <li>
                                                <p>Updated/Developed DB tables/queries.</p>
                                            </li>
                                            <li>
                                                <p>Configured Jenkins & G3 deployment tools.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
                                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa-solid fa-building-columns"
                                            aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Staff Front End (Retail Banking)</h6>
                                        <ul>
                                            <li>
                                                <p>Developed/Deployed (non)regulatory enhancements from central bank.
                                                </p>
                                            </li>
                                            <li>
                                                <p>Coordiated server patchings, certificate renewals.</p>
                                            </li>
                                            <li>
                                                <p>Implemented quality gates (sonar, checkmarx, IQ Scan)</p>
                                            </li>
                                            <li>
                                                <p>Reviewed Peer's code.</p>
                                            </li>
                                            <li>
                                                <p>Documented Workspace setup.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>Systems Engineer @TCS, Nagpur. <br> <span class="text-muted">Jun'2015 -
                                    Sep'2018</span></p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa-solid fa-chart-line" aria-hidden="true"></i>
                                    </div>
                                    <div class="timeline-text">
                                        <h6>CR/Ticket Reporting</h6>
                                        <ul>
                                            <li>
                                                <p>Developed REST APIs.</p>
                                            </li>
                                            <li>
                                                <p>Designed Reports. </p>
                                            </li>
                                            <li>
                                                <p>Developed/Integrated UI Interfaces.</p>
                                            </li>
                                            <li>
                                                <p>Developed/Optimized Queries.</p>
                                            </li>
                                            <li>
                                                <p>Post Implementation support.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
                                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa-solid fa-shield" aria-hidden="true"></i>
                                    </div>
                                    <div class="timeline-text">
                                        <h6>Data Privacy Management(GDPR)</h6>
                                        <ul>
                                            <li>
                                                <p>Developed REST APIs (Data Request & Approval Workflow)</p>
                                            </li>
                                            <li>
                                                <p>Developed/Integrated UI Interfaces.</p>
                                            </li>
                                            <li>
                                                <p>Test data creation.</p>
                                            </li>
                                            <li>
                                                <p>Post Implementation support.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>